{% extends "blood_app/base.html" %}

{% block content %}
  <div class="jumbotron">
    <table>
      <tr>
        <td><h2>Thank you {{ request.user.get_full_name }} for being with us.</h2><br></td>
      </tr>
      <tr>
        <td>
          <img src="{{ request.user.userextend.image.url }}" width="200" height="300" class="img-fluid">
        </td>
      </tr>
    </table>
    <br>

    {% if request.user.userextend.ready_to_donate %}
      <a href="{% url 'status' %}" class="btn btn-sm btn-success">I'm Ready To Donate</a>
    {% else %}
      <a href="{% url 'status' %}" class="btn btn-sm btn-danger">I'm Not Ready To Donate</a>
    {% endif %}

  </div>
{% endblock %}
